* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

nav .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav .logo img {
    height: 30px;
}

nav .search {
    position: relative;
}

nav .search input {
    width: 500px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid rgb(239, 235, 235);
    outline: none;
}

nav .search i {
    position: absolute;
    top: 12px;
    left: 10px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-buttons select {
    border: none;
    outline: none;
}

.nav-buttons button {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #EB4E62;
    color: white;
    font-size: 12px;
}

.nav-buttons i {
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    background-color: rgb(238, 238, 238);
}

header .left-links {
    display: flex;
    gap: 10px;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}

.right-links {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.banner {
    background-color: gainsboro;
    padding: 10px 120px;
}

.banner img {
    border-radius: 10px;
    width: 100%;
}

.recommended {
    padding: 40px 120px;
}

.recommended h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.all-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie h4 {
    font-size: 18px;
}

.movie p {
    color: gray;
}

@media screen and (max-width: 450px) {
    nav {
        display: none;
    }

    header {
        padding: 20px;
    }

    .right-links {
        display: none;
    }

    .banner {
        padding: 10px 20px;
    }

    .recommended {
        padding: 20px 20px;
    }

    .all-movies {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 450px) and (max-width: 800px) {
    nav {
        padding: 15px 60px;
    }

    nav .search input {
        width: 200px;
        padding: 10px 35px;
    }

    .right-links {
        display: none;
    }

    .banner {
        padding: 10px 60px;
    }

    .recommended {
        padding: 30px 60px;
    }

    .all-movies {
        grid-template-columns: repeat(3, 1fr);
    }
}